*{
	font-family:'Permanent Marker';
}
.jumbotron{
	background-image: url(../images/download.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   text-align:center;
    

}
.jumbotron img{
border-radius:50%;

}
body{
	background-color: "linen";
}