*{
	font-family:'Permanent Marker'; 
}
.jumbotron{
	background-image: url(../images/download.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   text-align:center;
    

}
.jumbotron img{
border-radius:50%;

}
body{
	background-color: "linen";
}
.navbar-brand{ float:left; }
img.image {
    display: block;
    margin: auto;
}

h2{font-family: 'Permanent Marker'; text-align: center; color:white;}

#logo{
	height: 40px;
	margin-top:-9px;
}